.slide
{
      width: 526px;
      height: 296px;
      margin: auto;
      overflow: hidden;
      

}

.slide figure img
{ width: 20%;
  height: 296px;
  float: left;
}

.slide figure
{         
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: ant 20s infinite linear;

}

@keyframes ant
 {  0%{left: 0%;}
 15%{left: 0%;} 
 25%{left: -100%;} 
 35%{left: -100%;} 
 45%{left: -200%;} 
 55%{left: -200%;}
 65%{left: -300%;} 
 75%{left: -300%;} 
 85%{left: -300%;}
 95%{left: -400%;} 
 100%{left: -400%;}  
    
}

.One{
  width: 100px;
  height: 100px;
}






